﻿@model BugTracker.Models.DashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="sparks-info">
                        <h5 style="color:#ee0707"> Projects <span class="txt-color-red"> <a href=@Url.Action("Index","Projects")> <i class="fa fa-folder-open" style="color:#ee0707"></i></a> @Model.Projects.Count </span></h5>
                    </li>

                    <li class="sparks-info">
                        <h5 style="color:#23c317"> Tickets <span class="txt-color-greenLight"> <a href=@Url.Action("Index","Tickets")> <i class="fa fa-ticket" style="color:#23c317"></i></a> &nbsp; @Model.Tickets.Count </span></h5>
                    </li>

                    if (User.IsInRole("Admin") | User.IsInRole("Administrator") | User.IsInRole("ProjectManager"))
                    {
                        <li class="sparks-info">
                            <h5 style="color:#2a46a0"> Users on projects <span class="txt-color-blue"> <a href=@Url.Action("ManageProjectUsers", "Admin")> <i class="fa fa-user" style="color:#2a46a0"></i></a> &nbsp; @Model.Users.Count </span></h5>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading" class="ui-sortable-handle">
                        <h5> BugZapper Current Projects </h5>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:17%">
                                            <input type="text" class="form-control" placeholder=" Project Name " />
                                        </th>

                                        <th class="hasinput" style="width:18%">
                                            <div class="input-group">
                                                <input class="form-control" placeholder=" Project Description " type="text">
                                                <span class="input-group-addon">
                                                </span>
                                            </div>
                                        </th>

                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder=" Project Manager " />
                                        </th>

                                        <th class="hasinput" style="width:17%">
                                            <input type="text" class="form-control" placeholder=" Created Date " />
                                        </th>

                                        <th class="hasinput icon-addon">
                                            <input id="dateselect_filter" type="text" placeholder=" Users " class="form-control datepicker" data-dateformat="yy/mm/dd">
                                            <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
                                        </th>

                                        <th class="hasinput" style="width:16%">
                                            <input type="text" class="form-control" placeholder=" Tickets " />
                                        </th>

                                    </tr>
                                    <tr>
                                        <th data-class="expand">Name</th>
                                        <th>Description</th>
                                        <th data-hide="phone"> Project Manager</th>
                                        <th data-hide="phone"> Created Date </th>
                                        <th data-hide="phone,tablet">  Users on Project </th>
                                        <th data-hide="phone,tablet"> Tickets </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var proj in Model.Projects)
                                    {
                                        <tr>
                                            <td>@proj.Project.Name</td>
                                            <td>@proj.Project.Description</td>
                                            <td>@proj.ProjectManager.DisplayName</td>
                                            <td>@proj.Project.Created.Date.ToString("MM.dd.yyyy")</td>
                                            <td>@proj.Project.Users.Count()</td>
                                            <td>@proj.Project.Tickets.Count</td>

                                        </tr>
                                    }


                                </tbody>

                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
                <!-- end widget div -->
                <!-- end widget -->

            </article>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-3" data-widget-editbutton="false" role="widget">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading" class="ui-sortable-handle">
                        <div class="jarviswidget-ctrls" role="menu">  <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> </div>
                        <h2> Ticket Types </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="donut-graph3" class="chart no-padding"><svg height="220" version="1.1" width="790" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M394.75,176.66666666666669A66.66666666666667,66.66666666666667,0,1,0,334.7022023010087,81.03957120577358" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#0b62a4" stroke="#ffffff" d="M394.75,179.66666666666669A69.66666666666667,69.66666666666667,0,1,0,332.0000514045541,79.73635191003339L304.67830345151305,66.55935680866037A100,100,0,1,1,394.75,210Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M334.7022023010087,81.03957120577358A66.66666666666667,66.66666666666667,0,0,0,336.99673905302427,143.30173110267648" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3980b5" stroke="#ffffff" d="M332.0000514045541,79.73635191003339A69.66666666666667,69.66666666666667,0,0,0,334.39784231041034,144.80030900229693L312.45160315055955,157.45496682131397A95,95,0,0,1,309.1818882789374,68.73138896822735Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M336.99673905302427,143.30173110267648A66.66666666666667,66.66666666666667,0,0,0,370.365474901629,172.04707390499055" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M334.39784231041034,144.80030900229693A69.66666666666667,69.66666666666667,0,0,0,369.2681712722023,174.83919223071513L360.00205173482135,198.41708031461155A95,95,0,0,1,312.45160315055955,157.45496682131397Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#95bbd7" d="M370.365474901629,172.04707390499055A66.66666666666667,66.66666666666667,0,0,0,394.72905604932066,176.66666337679857" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#95bbd7" stroke="#ffffff" d="M369.2681712722023,174.83919223071513A69.66666666666667,69.66666666666667,0,0,0,394.72811357154006,179.6666632287545L394.72015487028193,204.99999531193794A95,95,0,0,1,360.00205173482135,198.41708031461155Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="394.75" y="100" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.5152,0,0,1.5152,-203.0985,-57.1818)" stroke-width="0.6599999999999999"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">foo</tspan></text><text x="394.75" y="120" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.3889,0,0,1.3889,-153.5139,-43.5556)" stroke-width="0.7199999999999999"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">70%</tspan></text></svg></div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-4" data-widget-editbutton="false" role="widget">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading" class="ui-sortable-handle">
                        <div class="jarviswidget-ctrls" role="menu">  <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> </div>
                        <h2> Ticket Status </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="donut-graph4" class="chart no-padding"><svg height="220" version="1.1" width="790" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M394.75,176.66666666666669A66.66666666666667,66.66666666666667,0,1,0,334.7022023010087,81.03957120577358" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#0b62a4" stroke="#ffffff" d="M394.75,179.66666666666669A69.66666666666667,69.66666666666667,0,1,0,332.0000514045541,79.73635191003339L304.67830345151305,66.55935680866037A100,100,0,1,1,394.75,210Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M334.7022023010087,81.03957120577358A66.66666666666667,66.66666666666667,0,0,0,336.99673905302427,143.30173110267648" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3980b5" stroke="#ffffff" d="M332.0000514045541,79.73635191003339A69.66666666666667,69.66666666666667,0,0,0,334.39784231041034,144.80030900229693L312.45160315055955,157.45496682131397A95,95,0,0,1,309.1818882789374,68.73138896822735Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M336.99673905302427,143.30173110267648A66.66666666666667,66.66666666666667,0,0,0,370.365474901629,172.04707390499055" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M334.39784231041034,144.80030900229693A69.66666666666667,69.66666666666667,0,0,0,369.2681712722023,174.83919223071513L360.00205173482135,198.41708031461155A95,95,0,0,1,312.45160315055955,157.45496682131397Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#95bbd7" d="M370.365474901629,172.04707390499055A66.66666666666667,66.66666666666667,0,0,0,394.72905604932066,176.66666337679857" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#95bbd7" stroke="#ffffff" d="M369.2681712722023,174.83919223071513A69.66666666666667,69.66666666666667,0,0,0,394.72811357154006,179.6666632287545L394.72015487028193,204.99999531193794A95,95,0,0,1,360.00205173482135,198.41708031461155Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="394.75" y="100" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.5152,0,0,1.5152,-203.0985,-57.1818)" stroke-width="0.6599999999999999"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">foo</tspan></text><text x="394.75" y="120" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.3889,0,0,1.3889,-153.5139,-43.5556)" stroke-width="0.7199999999999999"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">70%</tspan></text></svg></div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-5" data-widget-editbutton="false" role="widget">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading" class="ui-sortable-handle">
                        <div class="jarviswidget-ctrls" role="menu">  <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> </div>      
                        <h2> Completed / Remaining Tickets </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div id="donut-graph5" class="chart no-padding"><svg height="220" version="1.1" width="790" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M394.75,176.66666666666669A66.66666666666667,66.66666666666667,0,1,0,334.7022023010087,81.03957120577358" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#0b62a4" stroke="#ffffff" d="M394.75,179.66666666666669A69.66666666666667,69.66666666666667,0,1,0,332.0000514045541,79.73635191003339L304.67830345151305,66.55935680866037A100,100,0,1,1,394.75,210Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M334.7022023010087,81.03957120577358A66.66666666666667,66.66666666666667,0,0,0,336.99673905302427,143.30173110267648" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3980b5" stroke="#ffffff" d="M332.0000514045541,79.73635191003339A69.66666666666667,69.66666666666667,0,0,0,334.39784231041034,144.80030900229693L312.45160315055955,157.45496682131397A95,95,0,0,1,309.1818882789374,68.73138896822735Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M336.99673905302427,143.30173110267648A66.66666666666667,66.66666666666667,0,0,0,370.365474901629,172.04707390499055" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M334.39784231041034,144.80030900229693A69.66666666666667,69.66666666666667,0,0,0,369.2681712722023,174.83919223071513L360.00205173482135,198.41708031461155A95,95,0,0,1,312.45160315055955,157.45496682131397Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#95bbd7" d="M370.365474901629,172.04707390499055A66.66666666666667,66.66666666666667,0,0,0,394.72905604932066,176.66666337679857" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#95bbd7" stroke="#ffffff" d="M369.2681712722023,174.83919223071513A69.66666666666667,69.66666666666667,0,0,0,394.72811357154006,179.6666632287545L394.72015487028193,204.99999531193794A95,95,0,0,1,360.00205173482135,198.41708031461155Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="394.75" y="100" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.5152,0,0,1.5152,-203.0985,-57.1818)" stroke-width="0.6599999999999999"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">foo</tspan></text><text x="394.75" y="120" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.3889,0,0,1.3889,-153.5139,-43.5556)" stroke-width="0.7199999999999999"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">70%</tspan></text></svg></div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </div>

        </div>

    </section>

</div>

@section scripts{
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/global_functions.js"></script>

    <script>

        $(function () {
            if ($("#wid-id-3")) {
                Morris.Donut({
                    element: 'donut-graph3',
                    data: [{
                        value: 70,
                        label: 'foo'
                    }, {
                        value: 15,
                        label: 'bar'
                    }, {
                        value: 10,
                        label: 'baz'
                    }, {
                        value: 5,
                        label: 'Testing'
                    }],
                    formatter: function (x) {
                        return x + "%"
                    }
                });
            }
        })

        $(function () {
            if ($("#wid-id-4")) {
                Morris.Donut({
                    element: 'donut-graph4',
                    data: [{
                        value: 70,
                        label: 'foo'
                    }, {
                        value: 15,
                        label: 'bar'
                    }, {
                        value: 10,
                        label: 'baz'
                    }, {
                        value: 5,
                        label: 'A really really long label'
                    }],
                    formatter: function (x) {
                        return x + "%"
                    }
                });
            }
        })


        $(function () {
            if ($("#wid-id-5")) {
                Morris.Donut({
                    element: 'donut-graph5',
                    data: [{
                        value: 70,
                        label: 'foo'
                    }, {
                        value: 15,
                        label: 'bar'
                    }, {
                        value: 10,
                        label: 'baz'
                    }, {
                        value: 5,
                        label: 'A really really super extra  long label'
                    }],
                    formatter: function (x) {
                        return x + "%"
                    }
                });
            }
        })


    </script>
}