@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") | User.IsInRole("Administrator"))
    {
        <p>
            <a href=@Url.Action("Create", "Projects") class="btn btn-primary"> Create New Project </a>
        </p>
    }

}

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManagerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-link"}) 

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") | User.IsInRole("Administrator") | User.IsInRole("ProjectManager"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-link"})
                            @Html.ActionLink("Manage Users", "ManageProjectUsers", "Admin", new { id = item.Id }, new { @class = "btn btn-info btn-link"})

                        }

                        if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-link"})
                        }

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
